
  .nav2{
    width: 100%;
    background-color: rgba(29, 29, 29, 0.882);
   
  }
  .navbar2{
      max-width: 1450px;
      margin: 0px auto;
      color: rgba(255, 255, 255, 0.703);
      
  }
  .menus{
    overflow: hidden;
  }
  .navbar2 .name{
   letter-spacing: 2px;

  }
  .navbar2 ul a{
    margin: 3px;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.703);
  }
  .navbar2 ul a:hover{
    color: rgba(252, 193, 110, 0.807);
    transition: .4s;
  }
  .navbtn{
    color: rgba(255, 255, 255, 0.703);
    letter-spacing: 2px;
  }
  .small-nav2{
   max-width: 300px;
    background-color: rgba(23, 23, 23, 0.935);
}
  .logo-name2{

    background-color: aquamarine;
  }
  .small-nav{
      width: 100%;
      background-color: rgba(23, 23, 23, 0.935);
  }
  .small-nav a{
      margin: 8px;
  }
  .navbar label{
      color: rgba(255, 255, 255, 0.781);
  }
  .list a{
      margin: 6px;
      letter-spacing: 1px;
      font-size: 17px;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.703);
  }
  .list a span{
      color: rgba(189, 188, 188, 0.842);
  }
  .list .active{
      color: rgba(252, 193, 110, 0.807);
  }
  .list a:hover{
      color: rgba(252, 193, 110, 0.807);
      transition: .4s;
  }